        <nav class="flexDiv context-menu" id="context-menu">
            <h4 id="menu-header"></h4>
            <ul class="context-menu__items no-bullets">
                <li class="context-menu__item">
                    <a href="#" class="context-menu__link" data-action="InsertSample">
                        <i class="fa fa-eye"></i> Insert Sample
                    </a>
                </li>
                <li class="context-menu__item">
                    <a href="#" class="context-menu__link" data-action="InsertControl">
                        <i class="fa fa-edit"></i> Insert EN
                    </a>
                </li>
                <li class="context-menu__item">
                    <a href="#" class="context-menu__link" data-action="RemoveSample">
                        <i class="fa fa-times"></i> Remove Sample
                    </a>
                </li>
            </ul>
        </nav>