<nav class="context-menu" id="context-menu">
<!--  <button class="sec_btn" onclick="openMulti();">Add to feature vector</button>-->
  <div class="selectWrapper">
    <div class="multiSelect context-menu__items" id="menu-0">
      <ul class="bottomBorder" id="menu-header"></ul>
      <div class="context-menu__item">
        <a href="" class="context-menu__link" data-action="insertSample">Insert Sample</a>
      </div>
      <div class="context-menu__link">
        <div onclick="openMulti();">myVector</div>
      </div>
      <div class="context-menu__link">
        <div onclick="openMulti();">featureVector</div>
      </div>
    </div>
  </div>
<!--    <div class="multiSelect" id="menu-1">-->
<!--      <div class="bottomBorder iconDiv noSpace narrow placeholder"><i class="material-icons">search</i>Search</div>-->
<!--      <div class="iconDiv justHover" onclick="nextMenu(event);">Project Example<i class="material-icons">arrow_right</i></div>-->
<!--      <div class="iconDiv justHover" onclick="nextMenu(event);">David’s project<i class="material-icons">arrow_right</i></div>-->
<!--      <div class="iconDiv justHover" onclick="nextMenu(event);">Project Idan<i class="material-icons">arrow_right</i></div>-->
<!--      <div class="iconDiv justHover" onclick="nextMenu(event);">Manhattan<i class="material-icons">arrow_right</i></div>-->
<!--      <div class="topBorder iconDiv noSpace" onclick="prevMenu(event);"><i class="material-icons">arrow_back</i>Back</div>-->
<!--    </div>-->
<!--    <div class="multiSelect" id="menu-2">-->
<!--      <div class="bottomBorder titleDiv">Project Idan</div>-->
<!--      <div onclick="openMulti();">Idan Vector</div>-->
<!--      <div onclick="openMulti();">Testings</div>-->
<!--      <div onclick="openMulti();">Features_120</div>-->
<!--      <div onclick="openMulti();">Aggregators</div>-->
<!--      <div id="menu-1" class="topBorder iconDiv noSpace" onclick="prevMenu(event);"><i class="material-icons">arrow_back</i>Back</div>-->
<!--    </div>-->
</nav>