{% extends "details.html" %}

<html>
    <head>
        {% block head %}
        {{ super() }}
        <title>Submission Details for {{ sub['plate_number'] }}</title>
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <h2><u>Submission Details for {{ sub['plate_number'] }}</u></h2>&nbsp;&nbsp;&nbsp;{% if sub['barcode'] %}<img align='right' height="30px" width="120px" src="data:image/jpeg;base64,{{ sub['barcode'] | safe }}">{% endif %}
        {{ super() }}
        <p>{% for key, value in sub.items() if key not in sub['excluded'] %}
            &nbsp;&nbsp;&nbsp;&nbsp;<b>{{ key | replace("_", " ") | title | replace("Pcr", "PCR") }}: </b>{% if key=='cost' %}{% if sub['cost'] %} {{ "${:,.2f}".format(value) }}{% endif %}{% else %}{{ value }}{% endif %}<br>
        {% endfor %}
        {% if sub['custom'] %}{% for key, value in sub['custom'].items() %}
            &nbsp;&nbsp;&nbsp;&nbsp;<b>{{ key | replace("_", " ") | title }}: </b>{{ value }}<br>
        {% endfor %}{% endif %}</p>
        {% if sub['reagents'] %}
        <h3><u>Reagents:</u></h3>
        <p>{% for item in sub['reagents'] %}
            &nbsp;&nbsp;&nbsp;&nbsp;<b>{{ item['role'] }}</b>: <a class="data-link reagent" id="{{ item['lot'] }}">{{ item['lot'] }} (EXP: {{ item['expiry'] }})</a><br>
        {% endfor %}</p>
        {% endif %}
        {% if sub['equipment'] %}
        <h3><u>Equipment:</u></h3>
        <p>{% for item in sub['equipment'] %}
            &nbsp;&nbsp;&nbsp;&nbsp;<b>{{ item['role'] }}:</b> {{ item['name'] }} ({{ item['asset_number'] }}): {{ item['processes'][0]|replace('\n\t', '<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;') }}<br>
        {% endfor %}</p>
        {% endif %}
        {% if sub['tips'] %}
        <h3><u>Tips:</u></h3>
        <p>{% for item in sub['tips'] %}
            &nbsp;&nbsp;&nbsp;&nbsp;<b>{{ item['role'] }}:</b> {{ item['name'] }} ({{ item['lot'] }})<br>
        {% endfor %}</p>
        {% endif %}
        {% if sub['samples'] %}
        <h3><u>Samples:</u></h3>
        <p>{% for item in sub['samples'] %}
            &nbsp;&nbsp;&nbsp;&nbsp;<b>{{ item['well'] }}:</b><a class="data-link sample" id="{{ item['submitter_id'] }}">{% if item['organism'] %} {{ item['name'] }} - ({{ item['organism']|replace('\n\t', '<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;') }}){% else %} {{ item['name']|replace('\n\t', '<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;') }}{% endif %}</a><br>
        {% endfor %}</p>
        {% endif %}

        {% if sub['ext_info'] %}
        {% for entry in sub['ext_info'] %}
        <h3><u>Extraction Status:</u></h3>
        <p>{% for key, value in entry.items() %}
            {% if "column" in key %}
                &nbsp;&nbsp;&nbsp;&nbsp;<b>{{ key|replace('_', ' ')|title() }}:</b> {{ value }}uL<br>
            {% else %}
                &nbsp;&nbsp;&nbsp;&nbsp;<b>{{ key|replace('_', ' ')|title() }}:</b> {{ value }}<br>
            {% endif %}
        {% endfor %}</p>
        {% endfor %}
        {% endif %}

        {% if sub['comment'] %}
        <h3><u>Comments:</u></h3>
        <p>{% for entry in sub['comment'] %}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{ entry['name'] }}:</b><br> {{ entry['text'] }}<br>- {{ entry['time'] }}<br>
        {% endfor %}</p>
        {% endif %}
        {% if sub['platemap'] %}
        <h3><u>Plate map:</u></h3>
        {{ sub['platemap'] }}
        {% endif %}
        {% if sub['export_map'] %}
        <h3><u>Plate map:</u></h3>
        <img height="600px" width="1300px" src="data:image/jpeg;base64,{{ sub['export_map'] | safe }}">
        {% endif %}
        {% endblock %}
        {% block signing_button %}
        {% if permission and not sub['signed_by'] %}
        <button type="button" id="sign_btn">Sign Off</button>
        {% endif %}
        {% endblock %}

        <br>
        <br>
        <br>
    </body>
    <script>
        {% block script %}
        {{ super() }}

        document.getElementById("sign_btn").addEventListener("click", function(){
            backend.sign_off("{{ sub['plate_number'] }}");
        });
        var sampleSelection = document.getElementsByClassName('sample');

        for(let i = 0; i < sampleSelection.length; i++) {
          sampleSelection[i].addEventListener("click", function() {
            backend.sample_details(sampleSelection[i].id);
          })
        }

        var reagentSelection = document.getElementsByClassName('reagent');

        for(let i = 0; i < reagentSelection.length; i++) {
          reagentSelection[i].addEventListener("click", function() {
            backend.reagent_details(reagentSelection[i].id, "{{ sub['extraction_kit'] }}");
          })
        }

        {% endblock %}
    </script>
</html>
