{% if not child %}
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    {% if css %}
    <style>
        {% for c in css %}
        {{ c }}
        {% endfor %}
    </style>
    {% endif %}
    <script src="qrc:///qtwebchannel/qwebchannel.js"></script>
    {% endblock %}
</head>
<body>
{% endif %}
{% block body %}
{% endblock %}
{% block signing_button %}{% endblock %}
{% if not child %}
</body>
{% endif %}

{% block script %}
{% if not child %}

{% for j in js%}

<script>
    {{ j }}
</script>

{% endfor %}
{% endif %}
{% endblock %}
{% if not child %}
</html>
{% endif %}