<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    {% if css %}
    <style>
        {% for c in css %}
        {{ c }}
        {% endfor %}
    </style>
    {% endif %}
    <script src="qrc:///qtwebchannel/qwebchannel.js"></script>
    {% endblock %}
</head>
<body>
{% block body %}
<!--<button type="button" id="back_btn">Back</button>-->
{% endblock %}
{% block signing_button %}{% endblock %}
</body>

{% block script %}
{% for j in js%}
<script>
    {{ j }}
</script>
{% endfor %}
{% endblock %}
</html>