{% extends "details.html" %}
{% if not child %}
<head>
    {% block head %}
    {{ super() }}
    <title>Procedure Details for {{ procedure['name'] }}</title>
    {% endblock %}
</head>
<body>
{% endif %}
    {% block body %}
    <h2><u>Procedure Details for {{ procedure['name'] | extract_value }}</u></h2>
    {{ super() }}
    <p>{% for key, value in procedure.items() if key not in procedure['excluded'] %}
        &nbsp;&nbsp;&nbsp;&nbsp;<b>{{ key | replace("_", " ") | title | replace("Pcr", "PCR") }}:</b> {{ value | extract_value }}<br>
    {% endfor %}</p>
    {% if procedure['comment'] %}
    &nbsp;&nbsp;&nbsp;&nbsp;<h4><b>Comments:</b></h4>
    <p>{% for comment in procedure['comment'] %}
        &nbsp;&nbsp;&nbsp;&nbsp;<b>{{ comment['user'] }} ({{ comment['time'] }}):</b> {{ comment['text'] }}<br>
    {% endfor %}</p>
    {% endif %}
    {% if procedure['reagent'] %}
    <button type="button"><h3><u>Reagents:</u></h3></button>
    <table style="border: 1px solid black; width: 100%; text-align: center">
        <tr>
            <th style="border: 1px solid black;">Reagent Role</th>
            <th style="border: 1px solid black;">Reagent Name</th>
            <th style="border: 1px solid black;">Lot</th>
            <th style="border: 1px solid black;">Expiry</th>
        </tr>
        {% for reg in procedure['reagent'] %}
            {% with reagent=reg, child=True %}
                {% include "support/reagent_list.html" %}
            {% endwith %}
        {% endfor %}
    </table><br/>
    {% endif %}
    {% if procedure['equipment'] %}
    <button type="button"><h3><u>Equipment:</u></h3></button>
    <table style="border: 1px solid black; width: 100%; text-align: center">
        <tr>
            <th style="border: 1px solid black;">Equipment Role</th>
            <th style="border: 1px solid black;">Equipment Name</th>
            <th style="border: 1px solid black;">Process</th>
            <th style="border: 1px solid black;">Tips</th>
        </tr>
        {% for eq in procedure['equipment'] %}
            {% with equipment=eq, child=True %}
                {% include "support/equipment_list.html" %}
            {% endwith %}
        {% endfor %}
    </table><br/>
    {% endif %}
    {% if procedure['info_results'] %}
    <button type="button"><h3><u>Results:</u></h3></button>
    {% for key, value in procedure['info_results'].items() %}
        <h4>{{ key | handle_key }}:</h4><br/>
        {% for result in value %}
            {% for k, v in result.items() %}
                &nbsp;&nbsp;&nbsp;&nbsp;<b>{{ k | handle_key }}:</b> {{ v | handle_results }}<br/>
            {% endfor %}<br/>
        {% endfor %}<br/>
    {% endfor %}
    {% endif %}
    {% if procedure['sample'] %}
    <button type="button"><h3><u>Procedure Samples:</u></h3></button>
    {% if procedure['platemap']|length > 5 %}
    <br>
    {{ procedure['platemap'] }}
    {% else %}
    <p>{% for sample in procedure['sample'] %}
        <a class="{% if sample['active'] %}data-link {% else %}unused {% endif %}sample" id="{{ sample['sample_id'] }}">{{ sample['sample_id']}}</a><br>
    {% endfor %}</p>
    {% endif %}
    {% endif %}
    {% endblock %}
{% if not child %}
</body>
{% endif %}
