{% extends "details.html" %}

<html>
    <head>
        {% block head %}
        {{ super() }}
        <title>{% if edit %}Edit{% else %}New{% endif %} {{ proceduretype['name'] }} for {{ run['plate_number'] }}</title>
        {% endblock %}
    </head>
    <!--  Is this working?  -->
    <body>
        {% block body %}
        <h1>{% if edit %}Edit{% else %}New{% endif %} {{ proceduretype['name'] }} for
            {% if run['plate_number'] %}
            <a style="height:30px; font-size:30px" id="rsl_plate_num">{{ run['plate_number'] }}</a>
            {% else %}
            <input style="height:30px; font-size:30px" type="text" id="rsl_plate_num" value="RSL-XX-YYYYMMDD-P">
            {% endif %}
        </h1><br><br>
        <div class="procedure_creation_leftright">
            <div class="left">
                <form>
                  <label for="technician">Technician:</label><br>
                  <input type="text" class="form_text full" id="technician" name="technician" width="100%" value="{{ procedure['technician']['value'] }}" background-color="{{ procedure['technician']['colour'] }}"><br><br>
                  <label for="repeat">Repeat:</label>
                  <input type="checkbox" id="repeat" name="repeat" value="{{ procedure['repeat'] }}"><br>
                  <select class="dropdown hidden_input" id="repeat_of">
                    {% for previous in proceduretype['previous'] %}
                      <option value="{{ previous }}">{{ previous }}</option>
                    {% endfor %}
                  </select><br><br>

                  {% if proceduretype['reagentrole'] %}
                    <br>
                    <h1><u>Reagents</u></h1>
                    <hr>
                    {% for reagentrole in proceduretype['reagentrole'] %}
                    <input type="checkbox" class="procedure_checkbox" checked id="{{ reagentrole['name'] }}_check" name="{{ reagentrole['name'] }}"><label for="{{ reagentrole['name'] }}">{{ reagentrole['name'] }}:</label><br>
                    <select class="reagentrole dropdown" id="{{ reagentrole['name'] }}" name="{{ reagentrole['name'] }}"><br>
                        {% for reagent in reagentrole['reagent'] %}
                        {% for reagentlot in reagent['reagentlot'] %}
                        {% if reagentlot['active'] %}
                        <option value="{{ reagentlot['name'] }}">{{ reagentlot['name'] }}</option>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                    </select>
                    <div class="new_reagent" id="new_{{ reagentrole['name'] }}"></div>
                    <br>
                    {% endfor %}
                  {% endif %}
                </form>
            </div>
            <div class="right">
                {% if platemap %}
                <h1>Plate map:</h1>
                {{ platemap }}
                {% endif %}
            </div>
        </div>
        <!-- {% with equipmentroles=proceduretype['equipmentrole'], child=True %}
            {% include 'support/equipment_usage.html' %}
        {% endwith %} -->
        <h1><u>Equipment</u></h1>
        <br><hr><br>
        {% for equipmentrole in proceduretype['equipmentrole'] %}
            <div class="grid-container">
                <div>
                    <input type="checkbox" class="procedure_checkbox" checked id="{{ equipmentrole['name'] }}_check" name="{{ equipmentrole['name'] }}"><label for="{{ equipmentrole['name'] }}">{{ equipmentrole['name'] }}:</label><br>
                    <select class="equipmentrole dropdown" id="{{ equipmentrole['name'] }}" name="{{ equipmentrole['name'] }}">
                    </select>
                </div>
                <div>
                    <label for="{{ equipmentrole['name'] }}_process">Process:</label><br>
                    <select class="process dropdown" id="{{ equipmentrole['name'] }}_process" name="{{ equipmentrole['name'] }}_process">
                    </select>
                </div>
                <div>
                    <label for="{{ equipmentrole['name'] }}_tips">Tips:</label><br>
                    <select multiple class="tips dropdown" id="{{ equipmentrole['name'] }}_tips" name="{{ equipmentrole['name'] }}_tips">
                    </select>
                </div>

            </div>
            <br>
        {% endfor %}

        {% include 'support/context_menu.html' %}
        {% endblock %}

    </body>

    {% block script %}
    <script>const equipment_json = {{ proceduretype['equipmentrole'] }};</script>
    
    <script>
        var rsl_plate_num = "{{ run['plate_number'] }}";
        var procedure_name = "{{ procedure['name']['value'] }}"
        function rearrange_plate() {
            output = [];
            fullGrid = [...gridContainer.children];
            fullGrid.forEach(function(item, index) {
                output.push({sample_id: item.id, index: index + 1, class: item.className})
            });
            backend.rearrange_plate(output);
        }
    </script>
    {{ super() }}
    {% endblock %}



</html>