{% extends "details.html" %}

<html>
    <head>
        {% block head %}
        {{ super() }}
        <title>{% if edit %}Edit{% else %}New{% endif %} {{ proceduretype['name'] }} for {{ run['plate_number'] }}</title>
        {% endblock %}
    </head>
    <!--  Is this working?  -->
    <body>
        {% block body %}
        <h1>{% if edit %}Edit{% else %}New{% endif %} {{ proceduretype['name'] }} for
            {% if run['plate_number'] %}
            <a style="height:30px; font-size:30px" id="rsl_plate_num">{{ run['plate_number'] }}</a>
            {% else %}
            <input style="height:30px; font-size:30px" type="text" id="rsl_plate_num" value="RSL-XX-YYYYMMDD-P">
            {% endif %}
        </h1><br><br>
        <div class="procedure_creation_leftright">
            <div class="left">
                <form>
                  <label for="technician">Technician:</label><br>
                  <input type="text" class="form_text full" id="technician" name="technician" width="100%" value="{{ procedure['technician']['value'] }}" background-color="{{ procedure['technician']['colour'] }}"><br><br>
                  <label for="repeat">Repeat:</label>
                  <input type="checkbox" class="form_check" id="repeat" name="repeat" value="{{ procedure['repeat'] }}"><br><br>
                  <label>Kit Type:</label><br>
                  <select class="dropdown" id="kittype" background-colour="{{ procedure['kittype']['colour'] }}">
                      {% for kittype in procedure['possible_kits'] %}
                      <option value="{{ kittype }}">{{ kittype }}</option>
                      {% endfor %}
                  </select><br>
                  {% if procedure['reagentrole'] %}
                    <br>
                    <h1><u>Reagents</u></h1>
                    <hr>
                    {% for key, value in procedure['reagentrole'].items() %}
                    <label for="{{ key }}">{{ key }}:</label><br>
                    <select class="reagentrole dropdown" id="{{ key }}" name="{{ key }}"><br>
                        {% for reagent in value %}
                        <option value="{{ reagent.name }} {% if reagent.lot %}- {{ reagent.lot }} - {{ reagent.expiry.date() }}{% endif %}">{{ reagent.name }} {% if reagent.lot %}- {{ reagent.lot }} - {{ reagent.expiry.date() }}{% endif %}</option>
                        {% endfor %}
                    </select>
                    <div class="new_reagent" id="new_{{ key }}"></div>
                    {% endfor %}
                  {% endif %}
                </form>
            </div>
            <div class="right">
                {% if plate_map %}
                <h1>Plate map:</h1>
                {{ plate_map }}
                {% endif %}
            </div>
        </div>
        {% if proceduretype['equipment_section'] %}
            {{ proceduretype['equipment_section'] }}
        {% endif %}
        {% include 'support/context_menu.html' %}
        {% endblock %}

    </body>

    {% block script %}
    <script>
        var rsl_plate_num = "{{ run['plate_number'] }}";
        function rearrange_plate() {
            output = [];
            fullGrid = [...gridContainer.children];
            fullGrid.forEach(function(item, index) {
                output.push({sample_id: item.id, index: index + 1})
            });
            backend.rearrange_plate(output);
        }
    </script>
    {{ super() }}
    {% endblock %}



</html>