{% extends "details.html" %}

<html>
    <head>
        {% block head %}
        {{ super() }}
        <title>{% if edit %}Edit{% else %}New{% endif %} {{ proceduretype['name'] }} for {{ run['plate_number'] }}</title>
        {% endblock %}
    </head>
    <!--  Is this working?  -->
    <body>
        {% block body %}
        <h1>{% if edit %}Edit{% else %}New{% endif %} {{ proceduretype['name'] }} for
            {% if run['plate_number'] %}
            <a style="height:30px; font-size:30px" id="rsl_plate_num">{{ run['plate_number'] }}</a>
            {% else %}
            <input style="height:30px; font-size:30px" type="text" id="rsl_plate_num" value="RSL-XX-YYYYMMDD-P">
            {% endif %}
        </h1><br><br>
        <div class="procedure_creation_leftright">
            <div class="left">
                <form>
                  <label for="technician">Technician:</label><br>
                  <input type="text" class="form_text full" id="technician" name="technician" width="100%" value="{{ procedure['technician']['value'] | handle_results }}" background-color="{{ procedure['technician']['colour'] }}"><br><br>
                  <label for="repeat">Repeat:</label>
                  <input type="checkbox" id="repeat" name="repeat" value="{{ procedure['repeat'] }}"><br>
                  <select class="dropdown hidden_input" id="repeat_of">
                    {% for previous in proceduretype['previous'] %}
                      <option value="{{ previous }}">{{ previous }}</option>
                    {% endfor %}
                  </select><br><br>
                  <label for="started_dated">Started Date:</label><br>
                  <input type="datetime-local" id="started_date" class="form_text" value="{{ procedure['started_date']  | handle_results }}"><br>
                  {% if edit %}
                    <br>
                    <label for="completed_date">Completed date:</label><br>
                    <input type="datetime-local" id="completed_date" class="form_text" value="{{ procedure['completed_date'] | handle_results }}"><br>
                  {% endif %}
                  {% if proceduretype['reagentrole'] %}
                    <br>
                    <h1><u>Reagents</u></h1>
                    <hr>
                    {% for reagentrole in proceduretype['reagentrole'] %}
                    {% if reagentrole is mapping %}
                        {% set rname = reagentrole.get('name') %}
                        
                    {% else %}
                        {% set rname = reagentrole %}
                        
                    {% endif %}
                    <div class="reagentrole_container">
                        <input type="checkbox" class="procedure_checkbox" id="{{ rname }}_check" name="{{ rname }}" {% if rname in procedure['active_reagentroles'] %}checked{% endif %}><label for="{{ rname }}">{{ rname }}:</label><br>
                        <select class="reagentrole dropdown" id="{{ rname }}" name="{{ rname }}" {% if rname not in procedure['active_reagentroles'] %}disabled{% endif %}>
                                {% if reagentrole is mapping %}
                                    {% for reagent in reagentrole.get('reagent', []) %}
                                        {% for reagentlot in reagent.get('reagentlot', []) %}
                                            {% if reagentlot['active'] %}
                                                <option value="{{ reagentlot['name'] }}">{{ reagentlot['name'] }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}
                        </select>
                    </div>
                    <div class="new_reagent" id="new_{{ rname }}"></div>
                    <br>
                    {% endfor %}
                  {% endif %}
                </form>
            </div>
            <div class="right">
                {% if platemap %}
                <h1>Plate map:</h1>
                {{ platemap }}
                {% endif %}
            </div>
        </div>
        <h1><u>Equipment</u></h1>
        <br><hr><br>
        {% for equipmentrole in proceduretype['equipmentrole'] %}
            {% if equipmentrole is mapping %}
              {% set ename = equipmentrole.get('name') %}
              
            {% else %}
              {% set ename = equipmentrole %}
              
            {% endif %}
            <div class="grid-container equipmentrole_container" id="{{ ename }}_container">
                <div>
                    <input type="checkbox" class="procedure_checkbox" id="{{ ename }}_check" name="{{ ename }}" {% if ename in procedure['active_equipmentroles'] %}checked{% endif %}><label for="{{ ename }}">{{ ename }}:</label><br>
                    <select class="equipmentrole dropdown" id="{{ ename }}" name="{{ ename }}" {% if ename not in procedure['active_equipmentroles'] %}disabled{% endif %}>
                    </select>
                </div>
                <div>
                    <label for="{{ ename }}_process">Process:</label><br>
                    <select class="process dropdown" id="{{ ename }}_process" name="{{ ename }}_process"  {% if ename not in procedure['active_equipmentroles'] %}disabled{% endif %}>
                    </select>
                </div>
                <div>
                    <label for="{{ ename }}_tips">Tips:</label><br>
                    <select multiple class="tips dropdown" id="{{ ename }}_tips" name="{{ ename }}_tips" {% if ename not in procedure['active_equipmentroles'] %}disabled{% endif %}>
                    </select>
                </div>
            </div>
            <br>
        {% endfor %}
        {% for button in preprocessing_buttons %}
            <button onclick="runPreprocessFunction(this)">{{ button }}</button>
        {% endfor %}

        {% include 'support/context_menu.html' %}
        {% endblock %}

    </body>

    {% block script %}
    <script>const equipment_json = {{ proceduretype['equipmentrole'] | sanitize }};</script>
    <script>const used_tips = {{ procedure.used_tips | sanitize | default([])}};</script>
    
    <script>
        var rsl_plate_num = "{{ run['plate_number'] }}";
        var procedure_name = "{{ procedure['name']['value'] }}"
        function rearrange_plate() {
            output = [];
            fullGrid = [...gridContainer.children];
            fullGrid.forEach(function(item, index) {
                output.push({sample_id: item.id, index: index + 1, class: item.className})
            });
            backend.rearrange_plate(output);
        }
    </script>
    {{ super() }}
    {% endblock %}



</html>