{% extends "details.html" %}
{% if not child %}

<head>
    {% block head %}
    {{ super() }}
    <title>Run Details for {{ run['rsl_plate_number'] }}</title>
    {% endblock %}
</head>
<body>
{% endif %}
    {% block body %}
    <h2><u>Run Details for {{ run['rsl_plate_number'] }}</u></h2>
    {{ super() }}
    <p>{% for key, value in run.items() if key not in run['excluded'] %}
        &nbsp;&nbsp;&nbsp;&nbsp;<b>{{ key | replace("_", " ") | title | replace("Rsl", "RSL") }}:</b> {{ value }}<br>
    {% endfor %}</p>
    {% if run['sample'] %}
    <button type="button"><h3><u>Run Samples:</u></h3></button>
    <p>{% for sample in run['sample'] %}
        &nbsp;&nbsp;&nbsp;&nbsp;<a class="{% if sample['active'] %}data-link {% else %}unused {% endif %}sample" id="{{ sample['sample_id'] }}">{{ sample['sample_id']}}</a><br>
    {% endfor %}</p>
    {% endif %}
    {% if run['procedure'] %}
    <button type="button"><h3><u>Procedures:</u></h3></button>
    <div class="nested">
    {% for procedure in run['procedure'] %}
    {% with procedure=procedure, child=True %}
        {% include "procedure_details.html" %}
    {% endwith %}
    {% endfor %}
    </div>
    {% endif %}
    {% endblock %}
    {% block signing_button %}
    <button type="button" id="sign_btn"{% if run['permission'] and not run['signed_by'] %}{% else %} hidden{% endif %}>Sign Off</button>
    {% endblock %}
    <br>

{% if not child %}
</body>
{% endif %}

    {% block script %}
    {{ super() }}
    <script>
    var sampleSelection = document.getElementsByClassName('sample');

    for(let i = 0; i < sampleSelection.length; i++) {
      sampleSelection[i].addEventListener("click", function() {
        console.log(sampleSelection[i].id);
        backend.sample_details(sampleSelection[i].id);
      })
    }

    document.getElementById("sign_btn").addEventListener("click", function(){
        backend.sign_off("{{ run['rsl_plate_num'] }}");
    });
    </script>
    {% endblock %}
