{% extends "details.html" %}
<head>
    {% block head %}
    {{ super() }}
    <title>Sample Checker</title>
    {% endblock %}
</head>
<body>
    {% block body %}
    <h2><u>Sample Checker</u></h2>
    <br>
    <p>Take a moment to verify sample names.</p>
    <br>
    <form>
        &emsp;&emsp;Submitter ID&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Row&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Column<br/>
        {% for sample in samples %}
            {{ '%02d' % sample['submission_rank'] }}
            <input type="text" id="{{ sample['submission_rank'] }}_id" name="submitter_id" value="{{ sample['submitter_id'] }}" size="40">
            <input type="number" id="{{ sample['submission_rank'] }}_row" name="row" value="{{ sample['row'] }}" size="5", min="1">
            <input type="number" id="{{ sample['submission_rank'] }}_col" name="column" value="{{ sample['column'] }}" size="5", min="1">
            <br/>
        {% endfor %}
    </form>
    {% endblock %}
</body>
<script>
  {% block script %}
  {{ super() }}
  {% for sample in samples %}
  document.getElementById("{{ sample['submission_rank'] }}_id").addEventListener("input", function(){
      backend.text_changed("{{ sample['submission_rank'] }}", this.name, this.value);
  });
  document.getElementById("{{ sample['submission_rank'] }}_row").addEventListener("input", function(){
      backend.text_changed("{{ sample['submission_rank'] }}", this.name, this.value);
  });
  document.getElementById("{{ sample['submission_rank'] }}_column").addEventListener("input", function(){
      backend.text_changed("{{ sample['submission_rank'] }}", this.name, this.value);
  });
  {% endfor %}
  document.addEventListener('DOMContentLoaded', function() {
          backend.activate_export(false);
      }, false);
  {% endblock %}
</script>