{% extends "details.html" %}

<html>
    <head>
        {% block head %}
        {{ super() }}
        <title>Sample Details for {{ sample['submitter_id'] }}</title>
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <h2><u>Sample Details for {{ sample['submitter_id'] }}</u></h2>
        {{ super() }}
        <p>{% for key, value in sample.items() if key not in sample['excluded'] %}
            &nbsp;&nbsp;&nbsp;&nbsp;<b>{{ key | replace("_", " ") | title }}: </b>{{ value }}<br>
        {% endfor %}</p>
        {% if sample['submissions'] %}<h2>Submissions:</h2>
            {% for submission in sample['submissions'] %}
            <p><b><a class="data-link" id="{{ submission['plate_name'] }}">{{ submission['plate_name'] }}:</a></b> {{ submission['well'] }}</p>
            {% endfor %}
        {% endif %}
        {% endblock %}
    </body>
    <script>
      {% block script %}
      {{ super() }}
      {% for submission in sample['submissions'] %}
      document.getElementById("{{ submission['plate_name'] }}").addEventListener("click", function(){
          backend.submission_details("{{ submission['plate_name'] }}");
      });
      {% endfor %}
      document.addEventListener('DOMContentLoaded', function() {
          backend.activate_export(false);
      }, false);
      {% endblock %}
  </script>
</html>
