Screen {
    
}

.box {
    height: 3;
    border: solid green;
}

#tree-view {
    display: none; 
    scrollbar-gutter: stable;
    overflow: auto;    
    width: auto;    
    height: 100%;            
    dock: left;       
}

DataBrowser.-show-tree #tree-view {
    display: block;        
    max-width: 50%;
}


#code-view {
    overflow: auto scroll;  
    min-width: 100%;        
}
#code {
    width: auto;    
}

FormField {
    width: 70%;
    height: 3;
    padding: 1 2;
    background: $primary;
    border: $secondary tall;
    content-align: center middle;
}