/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  font-size: large;
}

.data-link {
  color: blue;
  text-decoration: underline;
  text-decoration-color: blue;
}

.data-link:hover {
  color: #ff33ff;
  text-decoration-color: #ff33ff;
  cursor: pointer;
}

div.procedure_creation_leftright {
  width:100%;
  overflow:auto;
  border-style: solid;
  border-width: 2px;
  background-color: #FFFFFF;
  display: flex;
}

div.procedure_creation_leftright div.left {
  height: 100%;
  width:15%;
  float:left;
  border-style: solid;
  border-width: 1px;
  background-color: #FFF4A3;
  padding: 5px;
  flex: 0.25;
}

div.procedure_creation_leftright div.right {
  height: 100%;
  width:84%;
  float:left;
  border-style: solid;
  border-width: 1px;
  background-color:#D9EEE1;
  padding: 5px;
  flex: 0.75;
  object-fit: contain;
}

.dropdown {
  width: 100%;
}

.form_text {
  width: 97%;
}

div.gallery {
  width: 100%;
  object-fit: contain;
}
